$work-card-bg-color: #BBE4E9;
.head-content {
    img {
        height: 200px;
        width: auto;
        border-radius: 50%;
        margin-left: 200px;
        margin-top: 100px;
    }
}

#skills {
    display: flex;
    flex-direction: column;
}

.skill-box {
    width: 10px;
    height: 10px;
    margin: 3px;

    &.empty {
        border: 1px solid #A2DBD6;
    }

    &.full {
        background-color: #A2DBD6;
    }
}

.bg-colored {
    background-color: #79C2D0;
}

#works {
    margin-top: 55px;
    flex-wrap: wrap;
    gap: 50px 30px;

    .work {
        color: #323232;
        padding: 50px 20px;
        position: relative;
        width: 250px;
        height: 250px;
        margin: 10px;
        border: 1px solid $work-card-bg-color;
        background-color: $work-card-bg-color;

        h3 {
            font-size: 14px;
        }

        .site_logo {
            position: absolute;
            top: -50px;
            left: 30px;
        }

        .dev-logo-wrapper {
            position: absolute;
            bottom: 10px;
            left: 10px;

            .dev_logo {
                width: 30px;
                height: auto;
                margin-left: 10px;
            }
        }
    }
}

.used-softwares{
    img{
        height: 100px;
        width: auto;
    }
}

.footer-content{
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    .social-media-icon-wrapper{
        img{
            cursor: pointer;
        }
    }
}

.title{
    margin-bottom: 50px;
    color: #585858;
}