<div class="container" id="content">

    <section class="row">

        <div class="col text-center">

            <h1>Rólam</h1>

        </div>

    </section>

    <section class="row">

        <div class="col">

            <p class="text-justify">A nevem Kunszt Norbert, weblapok és webes alkalmazások készítésével foglalkozom, junior PHP, JS, HTML, CSS ismeretekkel. </p>
            <p class="text-justify">
                Munkáim során leginkább Laravel Frameworköt és Angulart használok, így ezeket tudom biztos tudással kezelni.
                A natív javascript terén rendelkezek ismerettel az ES6 alapjaival, de szívesebben használom valamelyik keretrendszert a gyorsabb fejlesztés miatt.
                Ehhez elengedhetetlenül fontos ismerni a Webpack/babel párost is, de opensource projekt lévén mindig van mit frissíteni a tudáson.
                Az angular keretrendszerből az 1.x verziót használtuk eddig, de tanulás alatt van a 4-es verzió is, kézen fogva a TypeScriptet.
                A design terén általában Bootstrapet használok, ebből eddig a 3-as változat volt a legsűrűbben használva, de tesztelés alatt a 4-es verzió, mert
                immár a flexbox griddel operál, így egy kicsit szabadabb talán. Rengeteg új komponens van, amit szívesen be is építek a munkáim folyamán.
                De ezek mellett természetesen nem esek kétségbe, ha nem lehet semmilyen thirdparty komponenst használni. Szerencsére elég fejlettek már a böngészők,
                így sok mindent meg lehet valósítani egyszerűbb css leírókkal.
            </p>

            <h3>Önéletrajzom</h3>

            <a href="http://szobekweb.hu/assets/pdf/cv.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Letöltés</a>
            <h3>Motivációs levél</h3>

            <a href="http://szobekweb.hu/assets/pdf/ml.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Letöltés</a>

        </div>


    </section>

</div>

