<div class="container" id="content">

    <div class="row">

        <div class="col">
            <h1>Kapcsolat</h1>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <p>Amennyiben kérdésed van, vagy csak szeretnéd velem felvenni a kapcsolatot, úgy az alábbi elérhetőségeken teheted meg:</p>
            <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a target="_blank" href="mailto:szobek@szobekweb.hu?subject=Kapcsolat">szobek@szobekweb.hu</a></p>
            <p><i class="fa fa-facebook" aria-hidden="true"></i> <a target="_blank" href="https://www.facebook.com/norbert.kunszt">Facebook</a></p>
            <p><i class="fa fa-github" aria-hidden="true"></i> <a target="_blank" href="https://github.com/szobek">GitHub</a></p>
            <p><i class="fa fa-linkedin" aria-hidden="true"></i> <a target="_blank" href="https://www.linkedin.com/in/norbert-kunszt/">LinkedIn</a></p>

        </div>


    </div>

</div>