
<div class="container" id="content">

    <div class="row hidden-xs-up">
        <div class="col">
            <h1>Szobekweb.hu</h1>
        </div>
    </div>
  
    <div class="row hidden-xs-up">
        <div class="col">
            <hr>
        </div>
    </div>
  
    <div class="row text-justify about-row">
  
        <div class="col-lg-4">
            <img class="img-fluid mylogo" src="assets/img/logo.png" alt="Szobek">
            
        </div>
        <div class="col-lg-4">
          <app-description cardTitle="Rólam" cardText="2011 óta foglalkozok weblap fejlesztéssel, és hybrid mobil applikációkkal, leginkább a front-end oldallal, de munkám során sokszor kellett a back-enden is dolgoznom, így az sem áll távol tőlem. "></app-description>
          <!--<a routerLink="about" class="btn btn-primary link-url">Tovább</a>-->
          
        </div>
        <div class="col-lg-4">
          <app-description cardTitle="Korábbi munkáim" cardText="Korábbi projektjeim során sok technológiát kipróbáltam, de azt hiszem több év alatt az ember le tudja tenni a voksát egy nyelv/technológia mellett, még is sokszor kell más területen dolgoznia, de a tanulás ebben a szakmában soha nem érhet véget."></app-description>
            <!--<a href="/projects" class="btn btn-primary link-url">Tovább</a>-->
           
        </div>
  
    </div>
  
    <div class="row">
        <div class="col">
            <hr class="hidden-sm hidden-xs">
        </div>
    </div>
  
    <div class="row language-list-container">
        <div class="col-lg-4 text-center">
          <app-lang-description langTitle="HTML 5" langImageAlt="HTML 5" langText="A HTML5 a HTML (Hypertext Markup Language, a web fő jelölőnyelve) korábbi verzióinak az átdolgozott változata. A kifejlesztésének egyik fő célja, hogy a webes alkalmazásokhoz ne legyen szükség pluginek (pl. Adobe Flash, Microsoft Silverlight, Oracle JavaFX) telepítésére. (via Wikipedia) Az új elemeknek köszönhetően könnyen felépíthető az oldal, hardveres gyorsítás, multimedia fájlok egyszerű beillesztése, és persze sok-sok újdonság." langImageSrc="assets/img/html5_logo.png"></app-lang-description>
            
        </div>
        <div class="col-lg-4 text-center">
          <app-lang-description langTitle="Laravel" langImageAlt="Laravel" langImageSrc="assets/img/laravel_logo.png" langText="Az egyik legelterjedtebb php framework, mellyel lehetőség van egyszerű útvonal kezelésre, templatelésre, az Elixirrel (új néven Mix) az assetfájlok kezelésére, adatbázis migrációra, és még sok másra. A projektjeinket általában ebben készítjük el, de persze sok más CMS rendszer is van, amelyek adott feladatra készülnek, így érdemes ezeket is ismerni (WordPress, PrestaShop, Joomla, stb)."></app-lang-description>
            
        </div>
        <div class="col-lg-4 text-center">
          <app-lang-description langTitle="JavaScript" langImageAlt="JavaScript" langImageSrc="assets/img/javascript_logo.png" langText="A JavaScript az egyik legelterjedtebb szkript nyelv a weboldalak front-end oldali kezelésére, a modern websiteok nélkülözhetetlen kelléke, legyen szó egy blogról, vagy egy komolyabb webalkalmazásról. Legismertebb frameworkök: Angular, jQuery, Vue, React. A framework kiválasztása abszolút szubjektív, de én az Angular mellett tettem le a szavazatom, illetve kisebb projektek esetén a natív ES6 is pont elég."></app-lang-description>
            
        </div>
    </div>
  
  
  </div>