
    <app-description cardTitle="Használt programok" cardText=""></app-description>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Visual Studio Code - IDE</li>
        <li class="list-group-item">Phpstorm - PHP IDE</li>
        <li class="list-group-item">Notepad++ - szövegszerkesztő</li>
        <li class="list-group-item">Postman - URL tesztelés</li>
        <li class="list-group-item">Intellij community - JAVA IDE</li>
        <li class="list-group-item">Chrome - Böngésző</li>
        <li class="list-group-item">Adobe Illustrator - Vektor grafikus szerkesztő</li>
        <li class="list-group-item">Github Desktop - VCS kezelő</li>
        <li class="list-group-item">Xampp - php,db, és még sok más</li>
      </ul>
    </div>
