
    <app-description cardTitle="Használt programok" cardText=""></app-description>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Visual Studio Code</li>
        <li class="list-group-item">Phpstorm</li>
        <li class="list-group-item">Notepad++</li>
        <li class="list-group-item">Postman</li>
        <li class="list-group-item">Intellij community</li>
        <li class="list-group-item">Chrome</li>
        <li class="list-group-item">Adobe Illustrator</li>
        <li class="list-group-item">Github Desktop</li>
        <li class="list-group-item">Xampp</li>
      </ul>
    </div>
