<div class="row">
    <div class="col-3 d-flex ">
        <div>
            <img class="navbar-brand hidden-md-down" width="150px" src="assets/img/logo_w.png" alt="logo">

        </div>
    </div>

    <div class="col-3">
        <h5>Kapcsolat</h5>
        <ul>
            <li><u>Telefonszám:</u> <a href="tel:+36205340145"> +36-20-534-0145</a>  </li>
            <li><u>E-mail:</u> <a href="mailto:kunszt.norbert@gmail.com"> kunszt.norbert@gmail.com</a></li>
            <li><u>Cím:</u> 2143 Kistarcsa, Eperjesi út</li>
        </ul>
    </div>
    <div class="col-3">

    </div>
    <div class="col-3">

    </div>

</div>