<div class="row">
    <div class="col-md-3 col-xs-hidden d-flex ">
        <div>
            <img class="navbar-brand hidden-md-down" width="150px" src="assets/img/logo_w.png" alt="logo">

        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <h5>Kapcsolat</h5>
        <ul>
            <li><u>Telefonszám:</u> <a href="tel:+36205340145"> +36-20-534-0145</a>  </li>
            <li><u>E-mail:</u> <a href="mailto:kunszt.norbert@gmail.com"> kunszt.norbert@gmail.com</a></li>
            <li><i class="fa fa-facebook" aria-hidden="true"></i> <a target="_blank" href="https://www.facebook.com/norbert.kunszt">Facebook</a></li>
            <li><i class="fa fa-github" aria-hidden="true"></i> <a target="_blank" href="https://github.com/szobek">GitHub</a></li>
            <li><i class="fa fa-linkedin" aria-hidden="true"></i> <a target="_blank" href="https://www.linkedin.com/in/norbert-kunszt/">LinkedIn</a></li>
        </ul>
    </div>
    
</div>