<app-description cardTitle="Skillek" cardText=""></app-description>

    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">JS</li>
        <li class="list-group-item">Scss</li>
        <li class="list-group-item">Typescript</li>
        <li class="list-group-item">Angular</li>
        <li class="list-group-item">PHP</li>
        <li class="list-group-item">SQL</li>
        <li class="list-group-item">WordPress</li>
        <li class="list-group-item">SEO</li>
        <li class="list-group-item">JAVA</li>
        <li class="list-group-item">Docker</li>
      </ul>
    </div>
