<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top ">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#szobekNavBar" aria-controls="szobekNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " routerLink="/" >
        <img class="navbar-brand hidden-md-down" width="150px" src="assets/img/logo_w.png" alt="home">
        <span class="base-url">Főoldal</span>
    </a>


    <div class="collapse navbar-collapse text-center" id="szobekNavBar">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link " routerLink="about" >Rólam</a>
            </li>
           <!-- <li class="nav-item">
                <a class="nav-link" href="projects">Munkáim</a>
            </li>-->
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="contact" >Kapcsolat</a>
            </li>


        </ul>

    </div>
</nav>



<router-outlet></router-outlet>
