$languges-row-bg:#eee;
#content {
    margin-top: 80px !important;
}
nav{
    .active{
        border-bottom: 1px solid whitesmoke;
    }
}

.about-row{
    background-color: $languges-row-bg;
    padding-bottom: 30px;
    @media screen and (max-width:768px) {
        margin-top: -25px;
        padding-top: 30px;
        
    }
}
.language-list-container{
    
    padding-top: 50px ;
    padding-bottom: 10px ;
    margin-bottom: 20px;
}

.work-list{
    background-color: $languges-row-bg;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: 25px;
    .work-list-cards{
        gap: 15px;
flex-wrap: wrap;
justify-content: center;
        .card{
            width: 410px;
            background-color: #eee;
            img{
                max-width: 100px;
            }
            p.description{
                text-align: center;
            }
            .card-title, .card-link{
                text-align: center;
            }
        }
    }
    
}

.program-list, .skill-list{
    padding: 25px 0;
    .list-group-item:nth-child(odd){
        background-color: rgb(148, 169, 233);
        color: #fff;
        @media screen and (max-width:768px) {
            background-color: aquamarine;
            color: cadetblue;
        }
    }
}
.skill-list li{
    justify-content: center;
}
.program-list{
    background-color: $languges-row-bg;
}
.footer{
    background-color: black;
    color: #eee;
    height: fit-content;
    ul{
        margin-left: -40px;
        li{
            list-style: none;
        }
    }
}

@media screen and (min-width:1200px) {
    .about-row{
        img{
max-width: 500px;
        }
    }
    
}

.btn-up{
    width: 30px;
    height: 30px;
    border-top: 3px solid #36f;
    border-right: 3px solid #36f;
    display: block;
    cursor: pointer;
    transform: rotate(-45deg);
    position: fixed;
    bottom: 20px;
    right: 20px;
}